body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* 添加浅色背景色 */
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加轻微的阴影 */
}

h1 {
    text-align: center;
    color: #007bff;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
.canteenSelect {
    padding: 8px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
}
/* 下拉菜单外层容器 */
.custom-select {
    position: relative;
    width: 150px;
    text-align: center;
}

/* 自定义样式的选择按钮 */
.custom-select .select-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

/* 下拉选项容器 */
.custom-select .options {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 1;
}

/* 下拉选项 */
.custom-select .options div {
    padding: 8px;
    cursor: pointer;
}
